<link rel = "stylesheet" href="{{url_for('static', filename='styles/base.css')}}" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<head>
    <title>Base Page</title>

    <style>
        body{
            background-color: #e9e9e9;
        }
    </style>

</head>



<body>
    <image id="qlogo" src="{{url_for('static', filename='images/newQ.png')}}">
    
   <div>
       
        <button type="submit" class = "rectangle-5" id="about-button" ></button>
        <a class="about">About</a>
        <script type="text/javascript">
            document.getElementById("about-button").onclick = function(){
                location.href = "{{url_for('about')}}";
            }
        </script>

        <button type="submit" class = "rectangle-6" id="home-button"></button>
        <a class="home">Home</a>
        <script type="text/javascript">
            document.getElementById("home-button").onclick = function(){
                location.href = "{{url_for('login')}}";
            }
        </script>

        <button type="submit" class = "rectangle-7" id="contact-button" ></button>
        <a class="contact-us">Contact Us</a>
        <script type="text/javascript">
            document.getElementById("contact-button").onclick = function(){
                location.href = "{{url_for('contact')}}";
            }
        </script>

    </div>
    <!-- <img id="background" src="images/city_sketch.jpg"> -->
      <div class="header"> 
        <label class="qchat" >Hey {{title}}!</label>
        <h3 class="update" >Input or Update your Information!</h3>
    </div>

    <form action="{{url_for('swipe')}}" method="post">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Phone Number</label>
            <input name="phone" class="form-control" id="address" rows="1"></input>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Gender</label>
            <select class="form-control" name="gender" id="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Preference</label>
            <select multiple name="pref" class="form-control" id="preference">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Address</label>
            <input name="address" class="form-control" id="address" rows="2"></input>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Credit Card Info</label>
            <input name="cc" class="form-control" id="address" rows="2"></input>
        </div>
        <div class="button-1">
            <button type="submit" class="btn btn-dark" >Submit</button>
        </div>
        </form>
</body>