#qlogo{
    
    position: absolute;
    width: 179px;
    height: 180px;
    left: 26px;
    top: 14px;
    background-color: #e9e9e9;
    background-blend-mode: multiply;

}


    /* Rectangle 5 */
    .rectangle-5{
    
        position: absolute;
        width: 157px;
        height: 51px;
        left: 962px;
        top: 32px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        }
    
    /* About */
    
    .about{
        position: absolute;
    
        left: 1007px;
        top: 42px;
        
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        }
        
    /* Rectangle 7 */
    
    .rectangle-7{
        position: absolute;
        width: 157px;
        height: 51px;
        left: 1151px;
        top: 32px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        }

        .contact-us{
            position: absolute;
            width: 207px;
            height: 49px;
            left: 1172px;
            top: 43px;
            
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            }


  /* Rectangle 6 */
  .rectangle-6{
    position: absolute;
    width: 157px;
    height: 51px;
    left: 1340px;
    top: 32px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    }
    
    /* Home */
    .home{
        position: absolute;
        width: 91px;
        height: 49px;
        left: 1387px;
        top: 44px;
        
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        }
        
    /* Qchat */
    
    .qchat{
        /* color: (#F21072 22.23%, #4A0F7F 100%); */
        
        position: relative;

        text-align: center;
        left: 450px;

        top: 55px;
        
        font-family: Sedan;
        font-style: normal;
        font-weight: normal;
        font-size: 130px;
        line-height: 200px;

        background: -webkit-linear-gradient(#F21072 22.23%, #4A0F7F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    .update{

        position: relative;

        text-align: center;

        /* width: 847px;
        height: 245px;
        */
        top: 70px; 
        
        font-family: Sedan;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100px;

        background: -webkit-linear-gradient(#F21072 22.23%, #4A0F7F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .button-1{

        /* justify-content: center;
        position: relative; */
        text-align : center;
    }